<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head') %>

<body class="light-theme">

  <!--
    - #HEADER
  -->

  <%- include('./partials/header') %>



  <main>
    <div class="main">

        <div class="container">

            <!--
            - BLOG SECTION
            -->

            <div class="blog">

            
                <img src="/images/thank-you.png">


            </div>



        </div>

    </div>
  </main>



  <%- include('./partials/footer') %>



  <script src="./assets/js/script.js"></script>
  

  <!--ionicon link-->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>