<header>
    <div class="container">
      <nav class="navbar">


        <div class="btn-group">

          <button class="nav-menu-btn">
            <ion-icon name="menu-outline"></ion-icon>
          </button>

        </div>

        <div class="flex-wrapper">

          <ul class="desktop-nav">

            <li>
              <a href="/" class="nav-link">Home</a>
            </li>

            <li>
              <a href="/login" class="nav-link">Login</a>
            </li>

            <li>
              <a href="/Disconnect" style="color: rgb(221, 109, 109);" class="nav-link">Disconnect</a>
            </li>

            <li>
              <a href="/signUp" class="nav-link">Sign Up</a>
            </li>

     
          </ul>

        </div>

        

      </nav>
    </div>
  </header>
